body .container-fluid { 
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    /*background-color: red;*/
}

.far-right {
    /* float: right; */
}

.sidebar {
    /* background-color:red; */
    height: 100%;
    border-right: solid grey;
}

.req-form-label:after {
    content: " *";
    color: red;
}

.shrink-form{
    flex: 0 0 40%;
}